body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin:0px;
    float:left;
    padding: 0px 20px 0px 0px;
}

ul, #landmarks {
    list-style:none;
    padding:0px;
    margin:0px;
}

#landmarks li {
    float:left;
    padding: 14px 0px 0px 20px;
}

.clear-left {
    clear:left;
}

.float-left {
    float:left;
}

#searchForm {
    margin-bottom:20px;
}