body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin:0px;
    background: #FFF0B2;
}

#indexBody {
    background: url(../resources/images/background.jpg);
    background-repeat: no;
    background-position: 50% 50%;
}

header {
    background-color: #FF0000;
    border-bottom: 1px solid #000000;
    position: fixed;
    z-index: 9;
    width: 100%;
    min-width: 1000px;
    opacity:0.8;
}

#mainHeader {
    position: static;
    opacity: 0.8;
}

#mainHeader h1 {
    color:#fece2f;
}

#mainHeader a {
    text-decoration: none;
    color:#fece2f;
}
#mainHeader a:hover{
    color:#000000;
}
section{
    padding-top: 60px;
}

#homeSection {
    padding-top: 0px;
}


#registrationform {
    width:300px;
    padding-top:50px;
    opacity:0.8;
}

#registrationform h1{
    width:300px;
    padding:50px 0px 0px 20px;
    margin:0px;
    font-size: 30px;
    color:#fece2f;
    text-shadow: 1px 1px #000000;
}

.ui-password-panel-overlay {
    opacity:0.8;
}

#loginform {
    width:540px;
    float:right;
}

#mainTitle {
    margin:0px;
    padding-top:50px;
    font-size: 60px;
    width:180px;
    float:left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: 1px 1px #000000;
}

#title {
    margin:0px;
    padding: 0px 20px 0px 20px;
    display: inline;
    line-height: 50px;
    float: left;
    color:#FFFF66;
    text-shadow: 1px 1px #000000; 
}

ul, #landmarks {
    list-style:none;
    padding:0px;
    margin:0px;
}

#landmarks li {
    float:left;
    padding: 14px 0px 0px 20px;
    font-weight: bold;
}

#landmarks li a {
    color:#FFFF66;
    text-decoration:none;
}

#landmarks li a:hover {
    color:white;
}

#landmarks li a:visited {
    //color:#fece2f;
    text-decoration:none;
}

.clear-left {
    clear:left;
}

.float-left {
    float:left;
}

#searchForm {
    margin-top: 7px;
}

.searchUsersButton {
    position:relative;
    top:5px;
    left:-45px;
    height:28px;
    border:none;
    background:#FFF0B2;
}

#searchForm .ui-inputfield {
    background:#FFF0B2!important;
}

.ui-state-active {
    color:#fece2f;
}

section h2 {
    color:#fece2f;
    text-shadow:1px 1px black;
}

.ui-widget-header {
    background: -webkit-linear-gradient(#FF0000, #CC0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF0000, #CC0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF0000, #CC0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF0000, #CC0000); /* Standard syntax */
}


.fc-event{
    cursor: pointer!important;
    background:red!important;
    border: 1px solid black!important;
    color:white!important;
    font-weight: bold;
}

.ui-growl {
}

#recovery {
    padding-top : 60px;
    opacity : 0.8;
}