body {
    font-family : Arial, sans-serif;
    margin : 0px;
    background : #EEE;
}

.title {
    color : rgb(51, 51, 51);
    font-size : 48px;
    font-weight : bold;
    text-align : center;
    margin : 0px;
    padding: 20px 0px 20px 0px;
    text-shadow: #FFFFFF 1px 1px 1px;
}

#registrationForm {
    width : 50%;
    min-width : 347px;
    float : left;
    margin-left : 5%;
}

#loginForm {
    float: right;
    width: 30%;
    margin-right: 5%;
    min-width: 393px;
}